@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/description.css");
@import url("sections/music.css");
@import url("sections/whyableton.css");
@import url("sections/webelive.css");
@import url("sections/passion.css");
@import url("sections/employee.css");


:root{
    --pt-sans:'PT Sans', sans-serif;
    --Poppins-font:"Poppins" sans-serif;
     
    --blue-color:#0000ff;
    --orange-color:#FF764D;
    --black: #000000;
    --black-300: #333333;
    --black-400: #1f1e31;
    --color-white: #fff;
    --silver-color:#f3f3f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--pt-sans);
}

body{
    max-width: 1580px;
    margin:0 auto;
    background-color: var(--silver-color);

}

a{
    text-decoration: none;
    color: inherit;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ableton__subtitle {
    font-size: 30px;
    font-weight: 400;
    font-family: var(--pt-sans);
  
    color: var(--primary-color);
    opacity: 0.8;
    line-height: 42px;
  
    letter-spacing: normal;
    text-align: start;
}
  
.ableton__title {
    font-size: 64px;
    font-weight: 600;
    font-family: var(--pt-sans);
  
    color: var(--orange-color);
  
    margin-top: 16px;
}
